*{
    margin: 0;
    padding: 0;
}

body{
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 1.5em;
	color: #000;
}

.clearfix{
	clear: both;
}

#container{
	width:330px;
	min-height:400px;
	background:#333;
	overflow:auto;
	margin:60px auto;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:#666 solid 2px;
}

#audio-image{
	position:relative;
	overflow:hidden;
	height: 600px;
	margin-bottom: 1%;
  text-align: center;
}

.cover{
  width: 60% !important;
}

#audio-info{
	text-align: center;
	margin-bottom: 3%;
}

#audio-info .artist{
	font-weight:bold;
}

.cover{
	width:100%;
	z-index:1;
}

#progressBar{
   width: 100%;
   margin-left:2%;
   margin-bottom:20px;
   margin-top:9px;
   height:10px;
   background:url(../img/statusBar1.png) no-repeat;
   float:left;
}

#progress{
   background: url(../img/volProg.png) no-repeat;
   height: 10px;
   display: inline-block;
   position: absolute;
   top: 9px;
   left: 8px;
}

#duration{
	position:absolute;
	top:0;
	right: 0px;
	padding:4px 8px;
	background: #000;
  color: #FFF;
	border-radius:5px;
}

#buttons{
	display: block;
	overflow: auto;

}

button{
  cursor: pointer;

}

#play img, #pause img, #prev img, #next img{
  width: 8%;
}

/*#prev{
width:10%;
	margin-top:15px;
}

#next{
	width:10%;
	margin-top:15px;
} */

#playlist{
  list-style-type: none;
  margin-left: 1.5% !important;
  display: none;
}

#playlist li{
    cursor: pointer;
    margin:5px;
}

#tracker{
	position: relative;
	width: 100%;
  overflow: hidden;
  margin-bottom: 5%;
}

#playlist li.active{
    font-weight: bold;
	padding: 3px;
	background: #CCC;
}

#volume{
  float: right;
}

#decrease, #increase{
  width: 6%;
}
