.wrapper
{
	font-size: 1.1rem;
	font-family: 'Josefin Sans', sans-serif;
	margin: 5% auto 0;
	background: #3396cb;
	width: 50%;
	padding: 1% 3% 3%;
}

h1
{
	font-size: 1.7rem;
	text-align: center;
}

.messages
{
	margin: 0 auto;
	background: white;
	border: 1px solid black;
	height: 15%;
	width: 30%;
	margin-bottom: 20px;
	color: black;
	padding: 1%;
}

form
{
	
	margin: 0 auto 3%;
	width: 80%;
	border: 1px solid black;
	padding: .5rem 1rem;
	text-align: center;
	margin: 0 auto;
	background: #C0BEC1;
}

form div.field
{
	text-align: left;
	padding: 1% 20%;
}

form div:nth-child(5)
{
	text-align: center;
}

form div label
{
	margin-bottom: .5%;
}

form div input
{
	box-shadow: inset 1px 1px 1px 1px #999;
	background: rgba(236, 170, 30, .5);
	padding: .4rem;
	width: 10%;
	margin-bottom: .5% 0 2%;
    color: #333333;
    border-radius: 8px;
    border: 0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.submit
{
	padding: 3%;
	border-radius: 4px;
	box-shadow: none;
	background: #333333;
	color: white;
	width: 80px;
	border: 1px solid #666666;
	cursor: pointer;
	display: inline-block;
	
}